<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Writivity</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/gfx/icon2.png">
</head>
<body>
<header>
    <h1>Admin</h1>
</header>
<div th:replace="fragments/navbar :: navbar"></div>
<main>
    <h2 class="h2">Utilisateurs</h2>
    <table style="width: 100%;">
        <thead>
        <tr>
            <th style="width: 20%;" class="wordLimitList">User Name</th>
            <th style="width: 20%;" class="challengeList">Pseudo</th>
            <th style="width: 20%;" class="wordLimitList">Email</th>
            <th style="width: 20%;" class="datelist">Statut</th>
            <th style="width: 20%;" class="datelist">Set to admin</th>
        </tr>
        </thead>
        <tbody th:maxlength="20">
            <tr th:if="${users.isEmpty()}">
                <td colspan="3" style="text-align: center;">Aucun utilisateur en base de donnée</td>
            </tr>
            <tr th:each="user : ${users}">
                <td>
                    <span th:text="${user.username}">username</span>
                </td>
                <td><span th:text="${user.pseudo}">pseudo</span></td>
                <td><span th:text="${user.mail}">mail</span></td>
                <td th:if="${user.isAdmin()} == true"><span>Admin</span></td>
                <td th:if="${user.isAdmin()} == false"><span>User</span></td>

                <td>
                    <form th:if="${user.isAdmin()} == true" th:action="@{/admin/set/{id}(id=${user.userId})}" method="post">
                        <button type="submit">User</button>
                    </form>
                    <form th:if="${user.isAdmin()} == false" th:action="@{/admin/set/{id}(id=${user.userId})}" method="post">
                        <button type="submit">Admin</button>
                    </form>
                </td>


            </tr>
        </tbody>
    </table>
    <h2 class="h2">Text report</h2>
    <table style="width: 100%;">
        <thead>
        <tr>
            <th style="width: 15%;" class="wordLimitList">Titre</th>
            <th style="width: 15%;" class="wordLimitList">Challenge</th>
            <th style="width: 15%;" class="challengeList">Email</th>
            <th style="width: 15%;" class="wordLimitList">Ecrivain</th>
            <th style="width: 25%;" class="wordLimitList">Signalement</th>
            <th style="width: 15%;" class="datelist">Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Liste des challenges en cours -->
        <tr th:if="${reports.isEmpty()}">
            <td colspan="6" style="text-align: center;">Il n'y a aucun signalement de texte pour le moment</td>
        </tr>
        <tr th:each="r : ${reports}">
            <td><span th:text="${r.text.textTitle}">Titre</span></td>
            <td><span th:text="${r.text.challenge.challengeName}">Challenge</span></td>
            <td><span th:text="${r.text.user.mail}">Email</span></td>
            <td><span th:text="${r.text.user.username}">Ecrivain</span></td>
            <td><span th:text="${r.problem}">Ecrivain</span></td>

            <td>
            <form th:if="${r.text.disqualified} == true" th:action="@{/admin/disqualification/{id}(id=${r.text.textId})}" method="post">
                <button type="submit">Requalifier</button>
            </form>
            <form th:if="${r.text.disqualified} == false" th:action="@{/admin/disqualification/{id}(id=${r.text.textId})}" method="post">
                <button type="submit">Disqualifier</button>
            </form>
            <form th:action="@{/admin/unreport/{id}(id=${r.reportId})}" method="post">
                <button type="submit">Unreport</button>
            </form>
            </td>

        </tr>
        </tbody>
    </table>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
