<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Writivity</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/gfx/icon2.png">
</head>
<body>
<header>
    <h1>Create Text</h1>
</header>
<div th:replace="fragments/navbar :: navbar"></div>
<main>
    <h2 th:text="|Create a Text for ${challengeName}|"></h2>
    <!--<label style="color: red" th:if="${toomany}" th:text="${toomany}"></label>-->
    <form th:action="@{/register_new_text/{challengeId}(challengeId=${challengeId})}" method="post" th:object="${text}">
        <label for="text_name">Title</label>
        <input type="text" id="text_name" th:field="*{textTitle}"> <br>
        <label for="text_body">Text</label>
        <input type="text" id="text_body" th:field="*{body}">
        <br>
        <input type="submit" value="submit">
    </form>
    <a th:href="@{'/challenge/' + ${challengeId}}">Retour au Challenge</a>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>