<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Writivity</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/gfx/icon2.png">
</head>

<body>
<header>
    <h1>Create a Challenge</h1>
</header>
<nav>
    <a href="/home">Homepage</a> |
    <a href="/profile">Profile</a> |
    <a href="/createChallenge">Create a new challenge</a> |
</nav>
<p>
    <form th:action="@{/register_new_challenge}" method="post" th:object="${challenge}">
        <label for="theme_name">Challenge</label>
        <input type="text" id="theme_name" th:field="*{themeName}">
        <label for="conditions">Conditions</label>
        <input type="text" id="conditions" th:field="*{conditions}">
        <label for="word_limit">Word Limit</label>
        <input type="number" id="word_limit" th:field="*{wordLimit}">
        <br>
        <input type="submit" value="submit">
    </form>
</p>
<footer>

</footer>
</body>
</html>