<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Writivity</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Create Text</h1>
</header>
<nav>
    <a href="/home">Homepage</a> |
    <a href="/profile">Profile</a> |
    <a href="/createChallenge">Create a new challenge</a> |
</nav>
<h2>Create a Text for ${Theme.id}</h2>
    <form action="">
        <label for="text_name">Title</label>
        <input type="text" id="text_name">
        <label for="text_body">Text</label>
        <input type="text" id="text_body">
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>