<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Writivity</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/gfx/icon2.png">
</head>
<body>
<header>
    <h1>Error 403</h1>
</header>

<h1>
    <label style="color: red">You are not allowed to access this page !</label>
</h1>
<h2>
    <a style="border-style: solid; background-color: lightgray" href="/" >Return to home</a>
</h2>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>