<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Writivity</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/gfx/icon2.png">
</head>
<body>
<header>
    <h1>Homepage</h1>
</header>
<nav>
    <a href="/home">Homepage</a> |
    <a href="/profile">Profile</a> |
    <a href="/createChallenge">Create a new challenge</a> |
    <tr th:if="${isAdmin == true }">
        <a href="/stats">Admin</a>
    </tr>
</nav>
<main>
    <h2 class="h2">Liste des Challenges</h2>
    <table style="width: 100%;">
        <thead>
        <tr>
            <th>Challenges en cours</th>
            <th>Challenges passés</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <!-- Tableau des challenges en cours -->
            <td style="width: 50%;">
                <table style="width: 100%;" align="center">
                    <thead>
                    <tr>
                        <th class="challengeList">Challenge</th>
                        <th class="wordLimitList">Mots Limite</th>
                        <th class="datelist">Date de fin</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Message si aucun challenge en cours -->
                    <tr th:if="${Theme.isEmpty()}">
                        <td colspan="3" style="text-align: center;">Aucun challenge en cours</td>
                    </tr>
                    <!-- Liste des challenges en cours -->
                    <tr th:each="challenge : ${Theme}">
                        <td>
                            <a th:href="@{/challengeid/{id}(id=${challenge.themeId})}"
                               th:text="${challenge.themeName}">Nom du Challenge</a>
                        </td>
                        <td><span th:text="${challenge.wordLimit}">Mots Limite</span></td>
                        <td><span th:text="${challenge.closeAt}">Date de fin</span></td>
                    </tr>
                    </tbody>
                </table>
            </td>

            <!-- Tableau des challenges passés -->
            <td style="width: 50%;">
                <table style="width: 100%;" align="center">
                    <tbody>
                    <!-- Message si aucun challenge passé -->
                    <tr th:if="${OldTheme.isEmpty()}">
                        <td colspan="3" style="text-align: center;">Aucun challenge passé</td>
                    </tr>
                    <!-- Liste des challenges passés -->
                    <tr th:each="challenge : ${OldTheme}">
                        <td><span th:text="${challenge.themeName}">Nom du Challenge</span></td>
                        <td><span th:text="${challenge.wordLimit}">Mots Limite</span></td>
                        <td><span th:text="${challenge.closeAt}">Date de fin</span></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    <label><em>Copyright © 2025 Writivity™</em></label>
</footer>
</body>
</html>
