<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Writivity</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Homepage</h1>
</header>
<nav>
    <a href="/home">Homepage</a> |
    <a href="/profile">Profile</a> |
    <a href="/createChallenge">Create a new challenge</a> |
</nav>
<main>
    <h2 class="h2">Liste des Challenges</h2>
    <table style="width: 100%;">
        <thead>
        <tr>
            <th>Challenges en cours</th>
            <th>Challenges passés</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <table style="width: 50%;">
                    <thead>
                    <tr>
                        <th class="challengeList">Challenge</th>
                        <th class="wordLimitList">Mots Limite</th>
                        <th class="datelist">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${Theme.isEmpty()}">
                        <td colspan="2">Aucun Challenge en base de données</td>
                    </tr>
                    <tr th:each="Challenge: ${Theme}">
                        <td><span th:text="${Theme.theme_name}" href="/gotochallenge">Thème</span></td>
                        <td><span th:text="${Theme.word_limit}">Nombre de mots limite</span></td>
                        <td><span th:text="${Theme.close_at}">Date limite</span></td>
                    </tr>
                    </tbody>
                </table>
            </td>


            <td>
                <table style="width: 50%;">
                    <thead>
                        <tr>
                            <th class="challengeList">Challenge</th>
                            <th class="wordLimitList">Mots Limite</th>
                            <th class="datelist">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${Theme.isEmpty()}">
                        <td colspan="2">Aucun Challenge en base de données</td>
                    </tr>
                    <tr th:each="Challenge: ${Theme}">
                        <td><span th:text="${Challenge.theme_name}">Thème</span></td>
                        <td><span th:text="${Challenge.word_limit}">Nombre de mots limite</span></td>
                        <td><span th:text="${Challenge.close_at}">Date limite</span></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer>

</footer>
</body>
</html>