<!DOCTYPE HTML>
<html>
<head>
    <title>Writivity</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p><a href="/hello">SALUT !</a></p>
<p><a href="/text">ERROR</a></p>

<form action="/print" method="GET" id="nameForm">
    <div>
        <label for="nameField">Écrit un truc !</label>
        <input name="myName" id="nameField">
        <button>PRESS START</button>
    </div>
</form>

<form action="/gotochallenge" method="GET" id="nameForm2">
    <div>
        <label for="nameField">Écrit un truc 2 !</label>
        <input name="myName" id="2">
        <button>PRESS START 2</button>
    </div>
</form>




<body>
<h1>Form</h1>
<form action="#" taction="@{/greeting}" object="${greeting}" method="post" modelAttribute="home">
    <p>Id: <input type="text" field="*{home.id}" name="id" /></p>
    <p>Message: <input type="text" field="*{home.content}" name="content"/></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>







</body>
</html>