<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Writivity</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/gfx/icon2.png">
</head>

<body>
<header>
    <h1>Profile</h1>
</header>
<div th:replace="fragments/navbar :: navbar"></div>
<div>
    <h2>Vos données :</h2>
    <span th:text="${Users.username}"></span>
    <br>
    <span th:text="${Users.mail}"></span>
</div>
<div>
    <h2>Vos textes :</h2>
    <table style="width: 100%;">
        <thead>
        <tr>
            <th class="datelist">Challenge</th>
            <th class="wordLimitList">Texte</th>
            <th class="datelist">SubmittedAt</th>
            <th class="datelist">disqualified</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${Text.isEmpty()}">
            <td colspan="2">Aucun Challenge en base de données</td>
        </tr>
        <tr th:each="t: ${Text}">
            <td><span th:text="${t.challenge_id}">Thème</span></td>
            <td><span th:text="${t.text_title}">Titre</span></td>
            <td><span th:text="${t.disqualified}">Disqualifié</span></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h2>Paramètres :</h2>
</div>
<div>
    <h4>Send a feedback</h4>
    <form action="/feedbackSend" method="post" th:object="${feedback}">
        <textarea id="body" name="body" required th:field="*{feedback_body}"> </textarea><br><br>
        <br>
        <input type="submit" value="submit">
    </form>
    <a href="/logout">Log out</a>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>