<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Writivity</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/gfx/icon2.png">
</head>

<header>
    <h1>SIGN UP</h1>
</header>

<main>

    <div align="center">

        <div style="border-style: solid; width: 600px; height: 500px">



            <form role="form" th:action="@{/register_new_user}" method="post" th:object="${user}">

                <div align="left">
                    <label>Enter Name</label>
                    <input type="text" th:field="*{username}">
                </div>

                <div align="right">
                    <label>Enter Pseudo</label>
                    <input type="text" th:field="*{pseudo}">
                </div>




                <script>

                    function changeColor(){

                        if (document.getElementById("box1").value === document.getElementById("box2").value && document.getElementById("box1").value !== ""){
                            document.getElementById("box1").style.backgroundColor = "#00FF21";
                            document.getElementById("box2").style.backgroundColor = "#00FF21";
                            document.getElementById("submit").disabled = false;
                        }else{
                            document.getElementById("box1").style.backgroundColor = "red";
                            document.getElementById("box2").style.backgroundColor = "red";
                            document.getElementById("submit").disabled = true;
                        }

                    }

                </script>

                <div align="left">
                    <label>Enter Password</label>
                    <input id="box1" value="" type="password" th:field="*{password}"  onkeyup="changeColor()" onchange="changeColor()" onclick="changeColor()">
                </div>

                <div align="right">
                    <label>Valid Password</label>
                    <input id="box2" value="" type="password" th:field="${passwordValidation}" onkeyup="changeColor()" onchange="changeColor()" onclick="changeColor()">
                </div>




                <div align="left">
                    <label>Enter E-mail</label>
                    <input type="email" th:field="*{mail}">
                </div>

                <button id="submit" disabled="disabled" type="submit">Register</button>

            </form>

            <a href="/">already sign in? Log in</a>

        </div>
    </div>

</main>

<label style="color: red" th:text="${error}" ></label>


</html>