<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Writivity</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
  <h1>Challenge</h1>
</header>
<nav>
  <a href="/home">Homepage</a> |
  <a href="/profile">Profile</a> |
  <a href="/createChallenge">Create a new challenge</a> |
</nav>
<main>
  <p th:text="${Challenge.theme_id}">Le challenge</p>
  <a href="/home">Back to Home</a>
  <a href="/createText">Créer un texte</a> <br>
  <h2 class="h2">Liste des Textes</h2>
  <table>
    <thead>
    <tr>
      <th>Text</th>
      <th>Nom</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${Text == 'empty' }">
      <td colspan="3">Aucun Texte en base de données</td>
    </tr>
    <tr th:each="t: ${Text}">
      <td><span th:text="${t.text_title}"> Contenu </span></td>
      <td><span th:text="${t.user_id}"></span></td>
      <td><button type="button">Report</button></td>
    </tr>
    </tbody>
  </table>
  <a href="/home" >Back to Home</a>
</main>
</body>
</html>
