<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Writivity - Détails du texte</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/gfx/icon2.png">
</head>
<body onload="baseStar()">

<header>
    <h1>Détails du Texte : <span th:text="${text.textTitle}"></span></h1>
</header>

<div th:replace="fragments/navbar :: navbar"></div>

<main>

    <table style="width: 100%;">

        <tbody><tr>

            <td style="width: 40%;">

                <script th:inline="javascript">

                    function changeRate1(){
                        document.getElementById("star1").style.color = "yellow";
                    }
                    function changeRate2(){
                        document.getElementById("star1").style.color = "yellow";
                        document.getElementById("star2").style.color = "yellow";
                    }
                    function changeRate3(){
                        document.getElementById("star1").style.color = "yellow";
                        document.getElementById("star2").style.color = "yellow";
                        document.getElementById("star3").style.color = "yellow";
                    }
                    function changeRate4(){
                        document.getElementById("star1").style.color = "yellow";
                        document.getElementById("star2").style.color = "yellow";
                        document.getElementById("star3").style.color = "yellow";
                        document.getElementById("star4").style.color = "yellow";
                    }
                    function changeRate5() {
                        document.getElementById("star1").style.color = "yellow";
                        document.getElementById("star2").style.color = "yellow";
                        document.getElementById("star3").style.color = "yellow";
                        document.getElementById("star4").style.color = "yellow";
                        document.getElementById("star5").style.color = "yellow";
                    }
                    function baseStar(){

                        let rate = /*[[${userRate}]]*/ '0';

                        document.getElementById("star1").style.color = "gray";
                        document.getElementById("star2").style.color = "gray";
                        document.getElementById("star3").style.color = "gray";
                        document.getElementById("star4").style.color = "gray";
                        document.getElementById("star5").style.color = "gray";

                        if (rate >= 1)
                            document.getElementById("star1").style.color = "gold";

                        if (rate >= 2)
                            document.getElementById("star2").style.color = "gold";

                        if (rate >= 3)
                            document.getElementById("star3").style.color = "gold";

                        if (rate >= 4)
                            document.getElementById("star4").style.color = "gold";

                        if (rate === 5)
                            document.getElementById("star5").style.color = "gold";
                    }

                </script>

                <!-- Affichage des détails du texte -->
                <h2 align="left" th:text="${text.textTitle}"></h2>

                <div align="left">
                    <a style="font-size: 20px">Notation générale : </a>

                    <a th:if="${roundedMean == 5}">
                        <a style="color: gold; font-size: 25px;">★★★★★</a>
                        <a th:text="${mean} + ' / 5.0'"></a>
                    </a>

                    <a th:if="${roundedMean == 4}">
                        <a style="color: gold; font-size: 25px; border-spacing: 0">★★★★</a><a style="color: gray; font-size: 25px;">★</a>
                        <a th:text="${mean} + ' / 5.0'"></a>
                    </a>

                    <a th:if="${roundedMean == 3}">
                        <a style="color: gold; font-size: 25px;">★★★</a><a style="color: gray; font-size: 25px;">★★</a>
                        <a th:text="${mean} + ' / 5.0'"></a>
                    </a>

                    <a th:if="${roundedMean == 2}">
                        <a style="color: gold; font-size: 25px;">★★</a><a style="color: gray; font-size: 25px;">★★★</a>
                        <a th:text="${mean} + ' / 5.0'"></a>
                    </a>

                    <a th:if="${roundedMean == 1}">
                        <a style="color: gold; font-size: 25px;">★</a><a style="color: gray; font-size: 25px;">★★★★</a>
                        <a th:text="${mean} + ' / 5.0'"></a>
                    </a>

                    <a th:if="${mean == 0}">
                        <a>Il n'y pas de note</a>
                    </a>

                </div>

                <h3 align="left">Soumis par : <span th:text="${text.user.username}"></span></h3>
                <p align="left"><strong>Date de soumission : </strong><span th:text="${text.submittedAt}"></span></p>

                <!-- Noter le texte -->
                <div th:if="${userId} != ${text.userId}" align="left" style="padding-bottom: 10px;">

                    <a style="font-size: 20px">Un avis sur la question ? : </a>
                    <a th:href="@{/rate/{challengeId}/{textId}/{rate}(challengeId=${text.getChallenge().challengeId}, textId=${text.textId}, rate=1)}"
                            style="color: gray; font-size: 30px; cursor: pointer;" id="star1" onmouseenter="changeRate1()" onmouseleave="baseStar()">★</a><!--
                    --><a th:href="@{/rate/{challengeId}/{textId}/{rate}(challengeId=${text.getChallenge().challengeId}, textId=${text.textId}, rate=2)}"
                            style="color: gray; font-size: 30px; cursor: pointer;" id="star2" onmouseenter="changeRate2()" onmouseleave="baseStar()">★</a><!--
                    --><a th:href="@{/rate/{challengeId}/{textId}/{rate}(challengeId=${text.getChallenge().challengeId}, textId=${text.textId}, rate=3)}"
                            style="color: gray; font-size: 30px; cursor: pointer;" id="star3" onmouseenter="changeRate3()" onmouseleave="baseStar()">★</a><!--
                    --><a th:href="@{/rate/{challengeId}/{textId}/{rate}(challengeId=${text.getChallenge().challengeId}, textId=${text.textId}, rate=4)}"
                            style="color: gray; font-size: 30px; cursor: pointer" id="star4" onmouseenter="changeRate4()" onmouseleave="baseStar()">★</a><!--
                    --><a th:href="@{/rate/{challengeId}/{textId}/{rate}(challengeId=${text.getChallenge().challengeId}, textId=${text.textId}, rate=5)}"
                            style="color: gray; font-size: 30px; cursor: pointer" id="star5" onmouseenter="changeRate5()" onmouseleave="baseStar()">★</a>

                </div>

                <!-- Block de texte pour envoyer un commentaire -->
                <div align="left">

                    <form style="padding-top: 10px" th:action="@{/comment/{challengeId}/{textId}(challengeId=${text.getChallenge().challengeId}, textId=${text.textId})}" method="post" th:object="${commentCreator}">

                        <textarea placeholder="Ecrire un commentaire..." maxlength="200" style="width: 400px; height: 40px" th:field="*{body}"></textarea>

                        <button type="submit">Envoyer le commentaire</button>

                    </form>

                </div>

                <!-- Bouton pour signaler -->
                <div align="left">

                    <form style="padding-top: 10px" th:action="@{/report/{challengeId}/{textId}(challengeId=${text.getChallenge().challengeId}, textId=${text.textId})}" method="post" th:object="${report}">

                        <textarea placeholder="Ecrire un signalement si le texte ne respecte pas les conditions..." maxlength="200" style="width: 400px; height: 40px" th:field="*{problem}"></textarea>
                        <br>
                        <button type="submit">Signaler</button>

                    </form>

                </div>


            </td>

            <td rowspan="2" style="width: 60%; vertical-align: top">
                <p align="left"><strong>Contenu : </strong><span th:text="${text.body}"></span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="left">Commentaires : </p>
                <div>

                    <a th:each="c : ${comments}">
                        <p align="left" style="font-size: 15px"><a th:text="*{c.user.username}"></a> - <a th:text="*{c.body}"></a></p>
                    </a>

                </div>

            </td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <a th:href="@{/challenge/{id}(id=${challengeId})}">Retour au Challenge</a>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
