<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Writivity</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
  <h1>Challenge : <span th:text="${Challenge.challenge_name}"></span></h1>
</header>
<nav>
  <a href="/home">Homepage</a> |
  <a href="/profile">Profile</a> |
  <a href="/createChallenge">Create a new challenge</a> |
</nav>
<main>
  <h2>Détails du Challenge</h2>
  <p>ID du Challenge : <span th:text="${Challenge.challenge_id}"></span></p>
  <p>Mots Limite : <span th:text="${Challenge.word_limit}"></span></p>
  <p>Date de fin : <span th:text="${Challenge.closeAt}"></span></p>
  <p>Conditions : <span th:text="${Challenge.conditions}"></span></p>
  <br>
  <a href="/home">Retour à l'accueil</a> |
  <a href="/createText">Créer un texte</a>

  <h2 class="h2">Liste des Textes soumis</h2>
  <table>
    <thead>
    <tr>
      <th>Titre du Texte</th>
      <th>Participant</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Si aucun texte n'est disponible -->
    <tr th:if="${#lists.isEmpty(Text)}">
      <td colspan="3" style="text-align: center;">Aucun texte soumis pour ce challenge</td>
    </tr>
    <!-- Liste des textes -->
    <tr th:each="t : ${Text}">
      <td><span th:text="${t.text_title}">Titre du Texte</span></td>
      <td><span th:text="${t.user.username}">Nom du Participant</span></td>
      <td><button type="button">Signaler</button></td>
    </tr>
    </tbody>
  </table>
</main>
</body>
</html>
